body{
background-color: #edfcfc;
align-text: center;
height: 500px;
width: 80%;
margin: 100px auto;

}
.hello{
color: grey;}

.form_login{
width:80%;
    margin: 0 auto;
    position:relative;
    top:50%;
    text-align: center;

}

input[type='text']{
margin: 10px 0;
width:60%;
color: lightblue;
height: 30px;
font-size: 20px;


}

.user_info{
display: flex;
justify-content: space-around;
align-items: center;
}


.welcome{

text-align: center;

}


.logo img{
width: 200px;
height: 80%;
border-radius: 30px;

}

h1, h3,p{
text-align: center;
}

.exit_btn, .login_btn{
    width:120px;
    height: 30px;

    position:relative;
    top:50%;
    background-color: lightblue;
}

.user_friends{
display: flex;
margin:0 auto;
width: 80%;
justify-content: center;

}

.status{

background-color: lightgreen;

}

.user_card{

margin: 5px;
}

.user_card img{
width: 100px;
height: 100px;
}

.flash{
margin: 0 auto;
width:60%;
padding: 5px 0;
margin-bottom:10px;
text-align: center;
color: black;
}


.success{
background-color: green;
color: white;

}

.attention{
background-color: yellow;
color: black;
}

.error{
background-color: red;

}